Package: com.cfarzaneh.chromeopener
Name: ChromeOpener
Depends: mobilesubstrate, ws.hbang.libopener (>= 3.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CFarzaneh
Author: CFarzaneh
Section: Addons
